.bg-custom1 {
  background-color: #858694 !important;
}

.bg-custom2 {
  background-color: #e0e0e0 !important;
}

.bg-custom3 {
  background-color: #f5913e !important;
}

.border-custom1 {
  border-color: #d1d1d1 !important;
  border-style: outset !important;
}
