.bg-custom1 {
  background-color: #858694 !important;
}

.bg-custom2 {
  background-color: #e0e0e0 !important;
}

.bg-custom3 {
  background-color: #f5913e !important;
}

.border-custom1 {
  border-color: #d1d1d1 !important;
  border-style: outset !important;
}

.border-custom1:active {
  border-style: inset !important;
}

.nav-item a {
  color: white;
  padding: 0 10px;
}

.v-line {
  width: 2px;
  background-color: white;
  margin: 0 10px;
}

@media screen and (max-width: 768px) {
  #navbarNav {
    height: 100vh;
    text-align: center;
    padding: 50px 0;
  }

  #navbarNav li {
    font-size: 30px;
    padding: 20px 0;
  }
}
